
.home {
  font-family: 'Montserrat', sans-serif;

}
.hero-section {
  height: 90vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('https://i.pinimg.com/1200x/de/b9/dc/deb9dc207a229222b3a2eebd011b85f4.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: rgb(255, 249, 246);
}

.hero-content {
  max-width: 600px;
  margin-left: 10%;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.section-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.category-card {
  position: relative;
  display: block;
  height: 350px;
  overflow: hidden;
  border-radius: 14px;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.15)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-overlay h3 {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 3px;
}


.premium-banner {
  background: #000000;
background: linear-gradient(308deg, rgba(0, 0, 0, 1) 0%, rgba(237, 237, 237, 1) 100%, rgba(79, 73, 73, 1) 100%);
padding: 60px 0;
  height: 300px;
}

.premium-banner h2 {
  font-weight: 700;
}

.about-section {
 
  padding: 80px 0;
  height :500px;
}

.about-title {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 60px;
  color: #1f2933;
}

.about-items {
  row-gap: 40px;
}

.about-items h5 {
  font-weight: 600;
  margin-bottom: 12px;
  color: #1f2933;
}

.about-items p {
  color: #b1b3b8;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.8rem;
  }

  .hero-content {
    margin-left: 5%;
  }

  .category-card {
    height: 260px;
  }
}

.navbar-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 380px;
  max-width: 100%;
}

