.custom-navbar {
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  background: linear-gradient(
    190deg,
    rgba(1, 9, 13, 1) 1%,
    rgba(43, 8, 8, 1) 29%,
    rgba(140, 103, 76, 1) 94%,
    rgba(15, 14, 3, 1) 100%
  );
  z-index: 1000;
}

.brand-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 3px;
}

.navbar-search {
  display: flex;
  width: 380px;
  max-width: 100%;
  margin-right: 500px;
}

.navbar-search input {
  flex: 1;
  padding: 8px 12px;
  border: 2px solid rgb(181, 178, 178);
  border-right: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 6px 0 0 6px;
}

.navbar-search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-search button {
  padding: 8px 14px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0 6px 6px 0;
}

.search-item:hover {
  background-color: #f2f2f2;
}

/* MOBILE FIX */
@media (max-width: 992px) {
  .navbar-search {
    width: 100%;
  }
}
